h1 {
  color: blue;
}

h2 {
  color: orange;
}

ul {
  color: blue;
  list-style-type: square;
}

ul li ul {
  color: black;
  list-style-type: disc;
}

ul li ul li:first-child {
  color: red;
}

ol li {
  color: black;
}
