.greenbox {
  background-color: green;
  width: 256px;
  padding: 20px 16px;
  margin: 10px 10px 10px 104px;
}

.box {
  font-size: 30px;
  color: #0000AA;
  background-color: yellow;
  border: 4px solid black;
  width: 208px;
  padding: 20px 12px 17px 20px;
  margin: auto;
}

.cbox {
  font-size: 30px;
  color: #AA0000;
  background-color: cyan;
  border: 4px solid black;
  width: 208px;
  padding: 20px 12px 17px 20px;
  margin: auto;
}
